<span
  id="close-dialog-btn-cont"
  mat-dialog-title>
  <button
    id="close-dialog-btn"
    mat-icon-button
    mat-dialog-close
    disableRipple
    color="primary">
    <mat-icon>close</mat-icon>
  </button>
</span>
<mat-dialog-content>
  <mat-grid-list cols="2" gutterSize="10px">
    <mat-grid-tile [class.opaque]="" id="main-pic-cont">
      <img class="main-pic" [src]="data.images[activeImgIdx]" alt="">
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="chosen-item-text-cont">
        <div id="item-title">{{data.title}}</div>
        <div [textContent]="data.description"></div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="12" class="thumbnails-cont-list" gutterSize="10">
    <mat-grid-tile
      *ngFor="let pic of data.images; let idx = index"
      class="thumbnails-cont"
      [colspan]="1"
      (click)="choseImg(idx)">
      <img [src]="pic" alt="" [class.is-active-img]="idx === activeImgIdx">
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>
