@import 'site-constants';

.main-pic {
  width: 100%;
}

#close-dialog-btn-cont {
  margin: -30px 0 0 0;
  text-align: end;

  #close-dialog-btn {
    width: 10px;
    height: 10px;
  }
}

mat-dialog-content {
  max-height: calc(100% - 25px);

  .thumbnails-cont-list {
    width: 100%;
    margin-top: 15px;

    .thumbnails-cont {
      cursor: pointer;

      img {
        width: 100%;
      }

      .is-active-img {
        outline: 3px solid red;
        outline-offset: -3px;
      }
    }
  }

  #item-title {
    font-family: 'customfont', sans-serif;
    font-size: calc(1.7em + 1vw);
    color: $main-color;
    font-weight: 600;
    margin-bottom: 0.65em;
  }

  .chosen-item-text-cont {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

