<nav
  id="menu-navbar"
  [class.is-in-mobile-view]="deviceService.isMobileScreen$">
  <a mat-button [routerLink]="routeLang('/pages/wedding')" [routerLinkActive]="'is-active'">WEDDING</a>
  <img *ngIf="!deviceService.isMobileScreen$" src="/favicon.png" alt="">
  <a mat-button [routerLink]="routeLang('/pages/bar-mitzvah')" [routerLinkActive]="'is-active'">BAR MITZVAH</a>
  <img *ngIf="!deviceService.isMobileScreen$" src="/favicon.png" alt="">
  <a mat-button [routerLink]="routeLang('/pages/bat-mitzvah')" [routerLinkActive]="'is-active'">BAT MITZVAH</a>
  <img *ngIf="!deviceService.isMobileScreen$" src="/favicon.png" alt="">
  <a mat-button [routerLink]="routeLang('/pages/greeting-cards')" [routerLinkActive]="'is-active'">GREETINGS CARDS</a>
  <img *ngIf="!deviceService.isMobileScreen$"  src="/favicon.png" alt="">
  <button mat-button [matMenuTriggerFor]="appMenu">Other</button>
  <img *ngIf="!deviceService.isMobileScreen$" src="/favicon.png" alt="">
  <a mat-button [routerLink]="routeLang('/pages/contacts')" [routerLinkActive]="'is-active'">Contacts</a>
</nav>
<mat-divider [inset]="true"></mat-divider>

<mat-menu #appMenu="matMenu">
  <a mat-menu-item>Settings</a>
  <a mat-menu-item>Help</a>
</mat-menu>
