@import 'site-constants';

:host {
  padding: 0 7px;

  #menu-navbar {
    max-width: $main-cont-max-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    & > * {
      font-size: calc(0.4em + 1vw);
      min-width: unset;
      padding: 0;
    }

    & > img {
      height: calc(0.4em + 1vw);
      align-self: center;
    }

    .is-active {
      color: $main-color;
    }
  }

  .mat-divider {
    margin: 0 auto;
    max-width: $main-cont-max-width;
  }

  .is-in-mobile-view {

  }
}
