.app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .content-wrapper {
    margin: 30px;

    #header-wrapper {
      display: flex;
    }

    app-header {
      width: 100%;
    }

    &__mobile {
      margin: 15px;
    }
  }
}

.mat-drawer-container {
  background-color: #fff;
}
