<mat-sidenav-container
  class="app-container"
  (backdropClick)="sidenav.close()"
  [dir]="(dirService.currDir$ | async).dir"
  (window:resize)="deviceService.setScreenParams($event.target)">

  <mat-sidenav
    *ngIf="deviceService.isMobileScreen$ | async"
    #sidenav
    [position]="(dirService.currDir$ | async).dir === 'ltr' ? 'end' : 'start'"
    (keydown.escape)="sidenav.close()"
    disableClose>
    <app-navbar></app-navbar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-wrapper" [class.content-wrapper__mobile]="deviceService.isMobileScreen$ | async">
      <ng-container *ngIf="!_router.url.startsWith('/admin')">
        <app-header
          [dir]="(deviceService.isMobileScreen$ | async) ? 'rtl' : (dirService.currDir$ | async).dir"
          (openSidenav)="sidenav.open()" ></app-header>
        <app-navbar *ngIf="!(deviceService.isMobileScreen$ | async)"></app-navbar>
      </ng-container>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
