<form id="login-form-cont" (ngSubmit)="login()" [formGroup]="loginForm">
  <mat-form-field>
    <input matInput type="email" placeholder="Email" formControlName="email" required>
    <mat-error *ngIf="loginForm.get('email')?.invalid">Not Valid Email</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Password" formControlName="password" required>
    <mat-error *ngIf="loginError">{{loginError}}</mat-error>
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit">Login</button>
</form>
