<button mat-icon-button *ngIf="deviceService.isMobileScreen$ | async" (click)="openSidenav.emit()">
  <mat-icon>menu</mat-icon>
</button>

<mat-grid-list
  id="header-cont"
  [cols]="(deviceService.isMobileScreen$ | async) ? 3 : 5"
  [rowHeight]="(deviceService.isMobileScreen$ | async) ? '10vh' : '25vh'"
  (window:resize)="onResize($event)">
  <mat-grid-tile *ngIf="!(deviceService.isMobileScreen$ | async)">
    <div id="header-phone-cont">
      <div id="phone-cont">+972000000000</div>
      <div id="email-cont">test@test.com</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    colspan="3">
    <div class="header-logo-cont" [class.header-logo-cont__mobile]="deviceService.isMobileScreen$ | async">
      <img routerLink="/" src="/assets/img/logo.jpg" alt="KaterinaKurapin">
    </div>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!(deviceService.isMobileScreen$ | async)">
    <div id="search-lang-cont">
      <mat-form-field id="lang-selector">
        <mat-select [value]="selectedLang" (valueChange)="onChangeLang($event)">
          <mat-option *ngFor="let lang of dirService.langArr" [value]="lang.code">
            {{lang.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field id="search-cont" floatLabel="never" appearance="outline">
        <input matInput type="search" placeholder="Search" [(ngModel)]="searchText">
        <mat-icon *ngIf="!searchText" class="search-icon" matSuffix>search</mat-icon>
        <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </mat-grid-tile>
</mat-grid-list>
