:host {
  display: flex;
  margin-bottom: 20px;

  #header-cont {
    width: 100%;

    .header-logo-cont {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;

      img {
        height: 100%;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      &__mobile {
        justify-content: flex-end;

        img {
          max-width: 200px;
          object-position: top;
          object-fit: scale-down;
        }
      }
    }

    #header-phone-cont {
      white-space: nowrap;
      margin-top: 9vh;
      width: 100%;

      #phone-cont {
        font-size: calc(0.75em + 1vw);
      }

      #email-cont {
        font-size: calc(0.2em + 0.97vw);
      }
    }

    #search-lang-cont {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      height: 100%;
      width: 100%;

      #lang-selector {
        max-width: 85px;
        position: absolute;
        top: 0;
      }

      #search-cont {
        width: 100%;
        margin-top: 9vh;

        input {
          margin-bottom: 5px;
        }
      }

      .search-icon {
        margin: 8px;
      }
    }
  }
}

#search-lang-cont::ng-deep {
  .mat-form-field-infix {
    border-top: 0;
    padding: 0;
  }

  #search-cont .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}
