@import 'site-constants';

.tile-template-wrapper {
  max-width: $main-cont-max-width;
  margin: 0 auto;

  mat-grid-list {
    width: 100%;
    margin: 0 auto;

    mat-grid-tile {
      img {
        max-width: 100%;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
        visibility: hidden;
      }

      &.is-visible {
        background: $main-color;
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        -webkit-animation: scaleUp 0.5s ease-in-out forwards;
        animation: scaleUp 0.5s ease-in-out forwards;

        img {
          visibility: visible;
        }
      }

      figcaption {
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        padding: 3em;
        position: absolute;

        &::before,
        &::after {
          position: absolute;
          top: 30px;
          right: 30px;
          bottom: 30px;
          left: 30px;
          content: '';
          opacity: 0;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
        }

        &::before {
          border-top: 1px solid #fff;
          border-bottom: 1px solid #fff;
          -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
        }

        &::after {
          border-right: 1px solid #fff;
          border-left: 1px solid #fff;
          -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
        }
      }

      h2 {
        word-spacing: -0.15em;
        font-weight: 300;
        margin: 0 auto;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
      }

      h2 span {
        font-weight: 800;
      }

      &:hover {
        cursor: pointer;

        img {
          opacity: 0.5;
        }

        figcaption::before,
        figcaption::after {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
        }

        h2 {
          opacity: 1;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
    }

    &.is-mobile-grid-list {
      max-width: 100%
    }
  }
  &__mobile {
    max-width: 100%;

    mat-grid-tile {
      background: unset !important;
    }

  }
}

@-webkit-keyframes scaleUp {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
