<div class="tile-template-wrapper" [class.tile-template-wrapper__mobile]="deviceService.isMobileScreen$ | async">
  <mat-grid-list
    [cols]="colsNum"
    [gutterSize]="gutterSize"
    rowHeight="1:1"
    (window:resize)="onResize($event)">
    <mat-grid-tile
      *ngFor="let obj of content | async; let idx = index; trackBy: trackByFn"
      [class.is-visible]="visibleImages.includes(idx)"
      (click)="openChoseItem(obj)">
      <img
        [src]="obj.thumbnail"
        [alt]="obj.title"
        (load)="imgLoaded(idx)"
        lazyLoadingImg>
      <figcaption>
        <h2>Charming <span>Roxy</span></h2>
      </figcaption>
    </mat-grid-tile>
  </mat-grid-list>
</div>
