/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Quicksand', Raleway, sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: customfont;
  src: url(assets/fonts/custom-font.OTF) format("opentype");
}
